
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "theme/tabler";
@import "theme/dashboard";

@import '~sweetalert2/src/sweetalert2.scss';
@import '~c3/c3.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#map {
    width: 100%;
    height: 700px;
}

#wrapper {
    min-height: 80vh;
}
